<!-- Services -->
<section id="me" class="bg-light" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">What I Do</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Work</h4>
          <p class="text-muted">
            I am the lead digitial architect at Cigna where I oversee
            the architecture and design of Cigna's externally facing web and mobile
            digital properties.  I also lead a team that estabilshes Cigna's 
            technical direction on future technology, platform, and engineering needs. 
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Teach</h4>
          <p class="text-muted">
            I have been teaching undergraduate and graudate Computer Science courses 
            at Drexel University since 2002. You can see the classes that I teach or
            have taught below. I have also taught classes at work on reactive architectures,
            functional programming, and cloud computing.
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-file fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Research / Speak</h4>
          <p class="text-muted">
             My research interests focus on search-based software engineering where
             I apply search techniques to difficult software engineering problems. My
             current interests also include designing high-performance and highly
             resilient digital systems.  I have spoken and actively speak at industry
             and research conferences. 
          </p>
        </div>
      </div>
    </div>
  </section>