<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Brian S. Mitchell, Ph.D.</h1>
      <p><img src="/assets/DrexelCCISmall.png" width="60%"/></p>
      <img src="/assets/bmitchellHeader.png" width="50%"/>
      <p class="lead text-muted">
          I'm a Research Associate Professor in the College of Computing and Informatics at
          Drexel University. 
      </p>
      <p>
          <span><i class="fa fa-envelope"></i></span> bmitchell@cs.drexel.edu |
          <span><i class="fa fa-twitter"></i></span> @DrBrianMitchell |
          <span><i class="fa fa-github"></i></span> <a href="#">@ArchitectingSoftware </a>
      </p>
      <img src="/assets/scroll-down.gif" width="25%"/>
      <!--
      <p>
        <a href="#" class="btn btn-primary">Main call to action</a>
        <a href="#" class="btn btn-secondary">Secondary action</a>
      </p>
    -->
    </div>
  </section>